<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!--
  <test thread-count="5" name="Search">
    <classes>
      <class name="myTestSuite.E2Esearch"/>
    </classes>
  </test>
  -->
  
  <!--
  <test thread-count="5" name="Flight">
    <classes>
      <class name="myTestSuite.NavList">
		  <methods>
			  <exclude name="hotel"/>
			  <include name="hotel.*"/>
		  </methods>
      </class>
    </classes>
  </test>
  -->
  
  <test name="My Package">
	  <packages>
		  <package name="myTestSuite"/>
	  </packages>
  </test>
  
</suite> <!-- Suite -->
